<div class="container">
    <div class="card text-center mt-3">
        <div class="card-header">
          Welcome
        </div>

        <div style="min-height: 550px;" class="d-flex card-body justify-content-center flex-column">
          <h3 class="card-title">API Gateway</h3>
          <p>This is an example of API Gateway built with express js. A simple note, every new endpoint will be redirected to google and after adding new endpoint make sure to refresh the page so the endpoint could be used.</p>
        </div>

        <div class="card-footer text-muted">
          Coded By Bonevian
        </div>
    </div>
</div>