<div class="container">
    <div class="text-center mt-4">
        <h1>Add New Service</h1>
    </div>
    <div class="mt-5">
        <form action="/endpoint/create" method="post">
            <div class="mb-3">
              <label for="routes_name" class="form-label">Route Name</label>
              <input type="text" class="form-control" id="routes_name" name="routes_name" required>
            </div>
            <div class="mb-3">
              <label for="endpoint" class="form-label">Endpoint</label>
              <input type="text" class="form-control" id="endpoint" name="endpoint">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>