<div class="container">
    <div class="card text-center mt-3">
        <div class="card-header">
          Endpoints
        </div>

        <div class="card-footer text-muted">
          Coded By Bonevian
        </div>
    </div>
</div>